@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.5em .75em;
	background-color: #997788; 
	background-image: linear-gradient(to bottom, #997788, #775566); 
	border-radius: 11px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	color: #fff;
	border: 0;	
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	display: inline-block;
	background-color: #660066;
	background-image: linear-gradient(to bottom, #660066, #440044);	
	padding: 0.5em .75em;
	border-radius: 11px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	color: #fff;
	border: 0;
}

