@charset "UTF-8";
/* CSS Document */

.media {
	overflow: hidden; 	
}

.media-img {
	float: left; 
	margin: 0 20px 0 0; 
}

.media-img-reverse { 
	float: right;
	margin: 0 0 0 20px;
}

.media-img-stacked {
	float: none;
	margin: 0;
}

.media-body {
	overflow: hidden; 
	margin: 15px 0 0 0;
}

.media-body-stacked {
	text-align: center;
	max-width: 250px;	
}