@charset "UTF-8";
/* CSS Document */

.product p {
	margin-top: -1rem;
	text-align: center;
	margin-bottom: 1rem;
}

.product {
	background-color: #e1dddd; 
	max-width: 290px;
}

.product h3 {
	text-align: center;
}

.border {
	border: 2.5px solid;
	border-color: #997788;
	padding: 6px;
	background-color: #e1dddd;
	margin: 10px;
}

.bottom {
	margin-bottom: 10rem;
}

.margin {
	padding-left: .2rem;
}