@charset "UTF-8";
/* CSS Document */

.product p {
	margin-top: -1rem;
}

.product {
	background-color: #e1dddd; 
	padding: 15px;
	max-width: 267px;
}

.title {
	text-align: center;
	max-width: 270px;
}

.center {
	margin-left: 4.2rem;	
}

.border {
	border: 2.5px solid;
	border-color: #997788;
	padding: 6px;
	background-color: #fff;
}