.list li {
	padding: 7rem;
	margin: 0 2.5rem;
	font-size: 25px;
	background-color: #e1dddd;
}

.list ul {
	margin-top: 11rem;
}

@media only screen and (max-width: 79em) {
	.list li {
		margin: 0 2rem;
	}
	
}

@media only screen and (max-width: 76em) {
	.list li {
		margin: 0 1.5rem;
	}
	
}

@media only screen and (max-width: 73em) {
	.list li {
		margin: 0 1rem;
	}
	
}

@media only screen and (max-width: 70em) {
	.list li {
		margin: 0 .5rem;
	}
	
}

@media only screen and (max-width: 67em) {
	.list li {
		margin: 0 2rem;
		padding: 5rem;
	}
	
}

@media only screen and (max-width: 64em) {
	.list li {
		margin: 0 1.5rem;
		padding: 5rem;
	}
	
}

@media only screen and (max-width: 61em) {
	.list li {
		margin: 0 1rem;
		padding: 5rem;
	}
	
}

@media only screen and (max-width: 58em) {
	.list li {
		margin: 0 .5rem;
		padding: 5rem;
	}
	
}

@media only screen and (max-width: 55em) {
	.list li {
		margin: 0 1rem;
		padding: 4rem;
	}
	
}

@media only screen and (max-width: 52em) {
	.list li {
		margin: 0 .5rem;
		padding: 4rem;
	}
	
}

@media only screen and (max-width: 48em) {
	.list li {
		margin: 0 1.5rem 1rem;
		padding: 5rem;
		display: block;
		text-align: center;
	}
	
	.list ul {
		margin: 3rem 0 7rem;
	}
	
}

@media only screen and (max-width: 24em) {
	.list li {
		font-size: 20px;
	}
	
}