# Accessibility Testing Report

User testing was conducted by Kathrine Greenberg on March 31 between the times of 8:00 and 11:00 with the following participants:

- Jenna Mclean
- Adriana Granieri
- Sonal Sharma
- Avery Burnett
- Chelsea Smith
- Sam McClelland

## Tasks

1. Purchase silver rings.
2. Search for flower earrings. 
3. Find out how many jewel necklaces are in stock. 

---

## Individual Results & Observations

### Jenna Mclean

- First Task: Found it confusing when tabbing through items, each individual product wasn't highlighted neatly.
- Second Task: Compeleted as expected, but multiple tabs were needed to go from just one item to another.  
- Third Task: Tabbing confusing like the first task. 

### Adriana Granieri

- First Task: Compeleted as expected, cart page should be more styled.
- Second Task: Compeleted as expected, but also was thrown off by tabs. 
- Third Task: Completed as expected. 

### Sonal Sharma

- First Task: Compeleted as expected.
- Second Task: Compeleted as expected, but also was thrown off by tabs.
- Third Task: Completed as expected. 

### Avery Burnett

- First Task: Also found the way that the products were highlighted to be confusing. 
- Second Task: Compeleted as expected, but also was thrown off by tabs.
- Third Task: Tabbing confusing like the first task. 

### Chelsea Smith

- First Task: Compeleted as expected but thought that the product page could be better organized. 
- Second Task: Completed as expected but also thought that this page lacked structure. 
- Third Task: Completed as expected, but again design needed improvement. 

### Sam McClelland

- First Task: Compeleted as expected.
- Second Task: Completed as expected. 
- Third Task: Completed as expected. 

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No problems made any of the actions unable to be completed.

### Serious, Causes Frustration, May Hinder Completion

- The organization of the page layouts made it confusing to navigate without just using a mouse. 

### Minor, Annoying, Won’t Hinder Completion

- Cart page needs more designing. 