---
layout: default
title: Home
meta: "A website for looking at and purchasing jewelry." 
showbanner: yes
bannertext: Biggest sale of the year!
---

<h1>Rings & Things</h1>
<p class="margin-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commen.</p>

<div class="grid space">

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		<a href="{{site.baseurl}}/products/rings/silver-rings"> {% include promo-small.html title="Promo 1" desc="Super-duper sale!" image="rings/silverrings.jpg" %}</a>
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 2" desc="Another amazing deal!" image="earrings/flowerearrings.jpg" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 3" desc="Fantastic!" image="necklaces/flowernecklace.jpg" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
		{% include promo-large.html title="Promo 4" desc="Great!" image="bracelets/goldbracelet.jpg" %}
	</div>
	
</div>