<div>
	<ul class="product bottom grid media">
		{% for items in site.pages %}
			{% if items.color == 'Pink' %}
				<li class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-4 background">
					<a href="{{site.baseurl}}{{items.url}}">
					<img class="img-flex border smaller" src="{{site.baseurl}}/images/{{items.image}}" alt=""></a>
					<a href="{{site.baseurl}}{{items.url}}">
					<div class="gutter mega centertext">{{items.title}}</div></a>
				</li>
			{% endif %}
		{% endfor %}	
	</ul>
</div>

<div class="left2">
	<p>Blue Earrings $5.50</p>
	<p>Spike Earrings $11.50</p>
	<p>Chain Necklace $12.99</p>
	<p>Total: $29.99</p>
	<p>Taxes: $3.90</p>
	<p>Overall: $33.89</p>
</div>