# User Testing Report

User testing was conducted by Kathrine Greenberg on March 24, 2014 between the times of 8:00 AM and 11:00 AM with the following participants:

- Jenna Mclean
- Adriana Granieri
- Sonal Sharma

## Tasks

1. Find the pearl rings. 
2. Buy the wheel earrings. 
3. Find out how much the flower necklace is on sale for. 

---

## Individual Results & Observations

### Jenna Mclean

- she clicked through the links as expected for the first two tasks
- for the third task there needs to be more information in the promo on the sale 
- there needs to be a link from the promo to the product description page

### Adriana Granieri

- she clicked through the links as expected for the first two tasks
- for the third task there needs to be more information in the promo on the sale 
- there needs to be a link from the promo to the product description page
- there needs to be more specific content in the site

### Sonal Sharma 

- she clicked through the links as expected for the first two tasks
- the third task there needs to be a link from the promo to the product description page

---

## Trends

### Critical, Needs Fixing, Unable to Complete

-there needs to be a link from the promo to the description page

### Serious, Causes Frustration, May Hinder Completion

- there needs to be more specific content in the site 

### Minor, Annoying, Won’t Hinder Completion

- there needs to be more information in the promos 