@charset "UTF-8";
/* CSS Document */

footer { 
	height: 5rem;
	background-color: #978c8a;
	position: fixed;
	bottom: 0;
	margin-left: -2rem;
	margin-right: -2rem;
	width: 100%;
}

.marg {
	padding: .5rem;
}