@charset "UTF-8";
/* CSS Document */

.img-pad {
	padding-right: 50px;
	margin-bottom: 2rem;
}

.pg-pad {
	padding: 2rem 2rem 0 2rem;
	background-color: #e1dddd;
}

h1 {
	text-align: center;
}

.left {
	float: left;
	width: 50%;
	margin-bottom: 0;
	margin-left: -3rem;
}

.right {
	overflow: hidden;
	margin-bottom: 0;
}

.wrapper {
	overflow: hidden;
	padding: 1rem;
	text-align: center;
}

.grey {
	background-color: #978c8a;
}

p {
	margin-bottom: 2.5rem;
}

.price {
	text-align: left;
	position: absolute;
	margin-left: 8rem;
	margin-top: 1rem;
	font-size: 20px;
}

@media only screen and (max-width:47em) {
	
	ul {
		padding: 5px;
	}
}

@media only screen and (min-width:40em) {
	
	.marg-bottom {
		margin-bottom: 2rem;
	}
}	