---
layout: default
title: Earrings
---

<h3>Earrings</h3>

<ul class="product bottom grid media pad">
	{% for earring in site.pages %}
		{% if earring.type == 'earring' %}
			<li>
				<a href="{{earring.url}}">
				<div class="media-img media-img-stacked unit unit-s-1">
					<img src="{{site.baseurl}}/images/{{earring.image}}" class="border" alt="">
				</div>
			</li>
		<div class="media-body-stacked">
			<li>
				<div class="unit unit-s-1">
					<h3 class="giga center">{{earring.title}}</h3>
				</div>
			</li>
			<li>
				<div class="unit unit-s-1">
					<p>{{earring.meta}}</p>
				</div>
			</li>
		</div>
		{% endif %}
	{% endfor %}	
</ul>

