---
layout: default
title: Earrings
---

<h3>Earrings</h3>

<ul class="product bottom grid media pad">
	{% for earring in site.pages %}
		{% if earring.type == 'earring' %}
			<li class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
				<a class="" href="{{site.baseurl}}{{earring.url}}">
				<img class="img-flex border" src="{{site.baseurl}}/images/{{earring.image}}" alt="">
				<a class="" href="{{site.baseurl}}{{earring.url}}">
				<div class="gutter mega centertext">{{earring.title}}</div>
			</li>
		{% endif %}
	{% endfor %}	
</ul>