---
layout: default
title: Necklaces
---

<h3>Necklaces</h3>

<ul class="product bottom grid media pad">
	{% for necklace in site.pages %}
		{% if necklace.type == 'necklace' %}
			<li>
				<a href="{{necklace.url}}">
				<div class="media-img media-img-stacked unit unit-s-1">
					<img src="{{site.baseurl}}/images/{{necklace.image}}" class="border" alt="">
				</div>
			</li>
		<div class="media-body-stacked">
			<li>
				<div class="unit unit-s-1">
					<h3 class="giga center">{{necklace.title}}</h3>
				</div>
			</li>
			<li>
				<div class="unit unit-s-1">
					<p>{{necklace.meta}}</p>
				</div>
			</li>
		</div>
		{% endif %}
	{% endfor %}	
</ul>