---
layout: default
title: Necklaces
---

<h3 class="centertext">Necklaces</h3>

<ul class="product bottom grid media">
	{% for necklace in site.pages %}
		{% if earring.type == 'necklace' %}
			<li class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-4 background">
				<a href="{{site.baseurl}}{{necklace.url}}">
				<img class="img-flex border smaller" src="{{site.baseurl}}/images/{{necklace.image}}" alt="">
				<a href="{{site.baseurl}}{{necklace.url}}">
				<div class="gutter mega centertext">{{necklace.title}}</div>
			</li>
		{% endif %}
	{% endfor %}	
</ul>