---
layout: default
title: Rings
---

<h3 class="centertext">Rings</h3>

<ul class="product bottom grid media">
	{% for ring in site.pages %}
		{% if ring.type == 'ring' %}
			<li class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-4 background">
				<a href="{{site.baseurl}}{{ring.url}}">
				<img class="img-flex border smaller" src="{{site.baseurl}}/images/{{ring.image}}" alt="">
				<a href="{{site.baseurl}}{{ring.url}}">
				<div class="gutter mega centertext">{{ring.title}}</div>
			</li>
		{% endif %}
	{% endfor %}	
</ul>