---
layout: default
title: Rings
---

<h3>Rings</h3>

<ul class="product bottom grid media pad">
	{% for ring in site.pages %}
		{% if ring.type == 'ring' %}
		<div class="display">
			<li>
				<a href="{{ring.url}}">
				<div class="media-img media-img-stacked unit unit-s-1">
					<img src="{{site.baseurl}}/images/{{ring.image}}" class="border" alt="">
				</div>
				</a>
			</li>
			<div class="media-body-stacked">
				<li>
					<div class="unit unit-s-1">
						<h3 class="giga center">{{ring.title}}</h3>
					</div>
				</li>
				<li>
					<div class="unit unit-s-1">
						<p>{{ring.meta}}</p>
					</div>
				</li>
			</div>
		</div>
		{% endif %}
	{% endfor %}	
</ul>