---
layout: default
---

<div class="grid pg-pad bottom">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
		<img class="img-flex img-pad" src="{{site.baseurl}}/images/{{page.image}}" alt="">
		<div class="wrapper shown">
			<h3 class="left">Price</h3>
			<a class="btn btn-alt mega right" href="#">Purchase</a>
		</div>
		<div class="wrapper grey shown2">
			<p class="left">IN STOCK</p>
			<p class="right">QUANTITY: 5</p>
		</div>
	</div>
	
	<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-2">
		<h1>{{page.title}}</h1>
		{{content}}
		<div class="wrapper grey hidden2">
			<p class="left">{{page.stock}}</p>
			<p class="right">QUANTITY: {{page.quantity}}</p>
		</div>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-2 hidden">
		<div class="wrapper">
			<h3 class="left">Price</h3>
			<a class="btn btn-alt mega right" href="{{site.baseurl}}/cart">Purchase</a>
		</div>
	</div>
</div>